@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */

.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.top-0{
    top: 0px;
}
.right-0{
    right: 0px;
}
.bg-accent{
    background-color: #3E8275;
}
.height-100p{
    height: 100%;
}
.max-res-width {
  max-width: 40rem;
}
.max-res-width > .bg-white {
  padding: 20px;
}
.pad-top-150{
font-family: 'Montserrat';
  padding-top: 0px;
  font-weight: 600;
  font-size: 20px;
}
.new-sub-title{
    color: #171745;
    font-weight: bold;
    margin-top: 15px;
}
.new-ul-li-style label{
    font-size: 1rem;
    font-weight: 400;
    color: #3A3E44;
}
.new-form-container-wrap{
    border-left: 1px solid #D9D9D9;
    padding: 10px 24px;
    margin-top: 10px;
    row-gap: 0.5rem;
}
.insurance-result-wrap{
    border-top: 4px solid #171745;
    padding: 30px;
    box-shadow: 0px 4px 4px #ccc;
    margin-bottom: 30px;
}
.insurance-result-wrap h3{
    font-size: 20px;
    font-weight: 600;
}
.insurance-result-wrap .p-4 {
    padding: 30px;
}
.insurance-result-wrap .p-4 p{
    color: #1D5248;
    font-size: 20px;
    font-weight: 600;
}
.insurance-result-wrap .p-4 p.text-black{
    color: #000000;
    font-size: 16px;
}
.insurance-result-wrap .p-4 p.text-black span{
    font-weight: 400;
}
.insurance-result-wrap .p-4 p.text-black span.font-600{
    font-weight: 600;
}
.insurance-result-wrap .border-red-700 p{
    color: rgb(185 28 28 / var(--tw-text-opacity, 1));
}
.new-yes-no-style{
    display: flex;
}
.new-yes-no-style input[type="radio"]{
    display: none;
}
.new-yes-no-style .flex.items-center{
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
}
.new-yes-no-style .flex.items-center label{
    padding: 14px 15px;
    text-align: center;
    color: #2574A9;
    text-transform: uppercase;
    min-width: 90px;
    cursor: pointer;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
}
.new-yes-no-style .flex.items-center input[type="radio"]:checked + label{
    color: #ffffff;
    background-color: #2574A9;
}
.new-yes-no-style .flex.items-center:first-child label{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.new-yes-no-style .flex.items-center:last-child label{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}
.new-yes-no-style label{
    margin-left: 0px;
}
.max-res-width .mb-6[data-id="2"],
.max-res-width .mb-6[data-id="8"],
.max-res-width .mb-6[data-id="10"]{
    display: none;
}
.insurance-result-wrap .bg-green-50{
    background-color: #E5FFED;
}
.max-res-width .bg-gray-200 + .text-right{
    display: none;
}
.max-res-width .bg-yellow-500{
    background-color: #171745;
}   
.display-none{
    display: none;
}
.text-dark-blue-900{
    color: #171745;
}
.btn-full-center{
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}